[2019-03-15 12:34] frenzymadness commented on #226
Is this issue still relevant or did you manage to use our base image without manual installation of dependencies?

[2019-03-15 12:57] frenzymadness commented on #216
Is this issue still relevant? I think that provided solutions might be easily applicable to any build and with the use of environment variables like `PIP_FIND_LINKS` and `PIP_NO_INDEX` it's pretty easy.

[2019-03-15 12:58] frenzymadness commented on #188
Is this issue still relevant? There are multiple ways how you can affect the number of workers.

[2019-03-15 13:07] frenzymadness commented on #173
I don't know the history of the readme file but now it seems that run strategies are well explained and each strategy has conditions which have to be met in order to use the strategy.

For example, Gunicorn strategy description says that it'll be used if gunicorn is installed. Django development server strategy also says that it'll be used when Django is in your requirements but you don't have gun

[2019-03-15 13:15] frenzymadness commented on #166
Is this issue still relevant? It seems that `APP_HOME` is used as an application home and working directory for years and there is no `__init__.py` file in `app-home-test-app/project` which this issue was created for.

[2019-03-15 18:23] #253 closed

[2019-03-16 16:04] hakkeroid commented on #290
@frenzymadness My proposal isn't tested (it was good enough for my situation though) and it has to be adapted to all assemble files I guess. However, feel free to take over. Although I worry that it will take a while to get merged, as @torsava already mentioned beeing occupied elsewhere.

[2019-03-17 01:49] #166 closed

[2019-03-17 01:54] #173 closed

[2019-03-17 02:11] GrahamDumpleton commented on #216
It isn't ``pip`` which is the main issue but when ``setup.py`` and ``easy_install`` is used. You cannot control what happens with a ``setup.py`` or ``easy_install`` install using environment variables. You have to create a ``~/.pydistutils.cfg``. This is messy to do as need to use a custom ``assemble`` script wrapper or use a build input secret defined in the build config and have that added to th

[2019-03-17 02:13] GrahamDumpleton commented on #226
The solution is to use ``scl_enable``. It is the only reliable way of ensuring the SCL Python is setup properly when running commands in ``Dockerfile``. Believe this can be closed.

[2019-03-17 02:17] GrahamDumpleton commented on #243
No one has ever reported a specific problem with how things are done that I know of, so issue is one of opinion only of how to do it. Too much would be dependent on current layout and changing it would most definitely break things. Believe it should be closed.

[2019-03-17 02:26] GrahamDumpleton commented on #280
Leave it open for now as a prompt to create a proper cookbook recipe about it as the solution is non obvious. After documenting it, we might find a need to add some helper code in the ``assemble`` script to make it easier.

[2019-03-17 02:28] GrahamDumpleton commented on #282
I will need to test whether newer version does fix the issue and report back.

[2019-03-17 02:31] GrahamDumpleton commented on #99
The check for ``django`` being installed is not full proof, but chance of it being installed at same time as ``flask`` is extremely slim. Better check may have been to look for ``DJANGO_SETTINGS_MODULE`` string in ``manage.py`` but the check for ``django`` module is sufficient for now. Closing.

[2019-03-17 02:31] #99 closed

[2019-03-17 08:24] frenzymadness commented on #243
Thank you for your opinion. Closing.

[2019-03-17 08:24] #243 closed

[2019-03-17 09:21] frenzymadness commented on #226
Closing then.

[2019-03-17 09:21] #226 closed

[2019-03-18 16:09] torsava commented on #290
A PR for pinning the version would be great. If anyone can create it, we'll get it merged.

[2019-03-18 19:00] torsava commented on #317
I agree we should document this, thanks for opening an issue for it. However, do you think we can reduce them? As in have only 1 Pipfile/.lock? I think we need to have different versions of packages for different Python versions. Do you think otherwise?

[2019-03-18 19:01] torsava commented on #315
+1

[2019-03-19 09:16] torsava commented on #305
The memcached package itself is only 121K, so very little. If it doesn't need large dependencies (needs to be tested), I'm open to adding it.

If anyone has time to take a look and do a PR, please do.

[2019-03-19 09:20] torsava commented on #301
@pkubatrh @praiskup Do we know who is uploading the images to Docker hub?

[2019-03-19 09:28] pkubatrh commented on #301
@torsava Done by Jenkins job, this should be the correct one I hope:
https://github.com/sclorg/rhscl-container-ci/blob/master/yaml/builders/image-build-push.yaml

To fix this we would need to add some release versioning of the images since we depend on OSBS auto-increments in both Fedora and RHEL (and I expect in builds for CentOS registry as well)

[2019-03-19 09:45] torsava commented on #268
@junaruga If the user wants the `rpm-py-installer` package installed by pip, they can add it to their `requirements.txt` (or similar) and it will get installed. Or is there some problem with this approach?

[2019-03-19 09:51] torsava commented on #239
@pvalena Is this still relevant?

The templates we have (`django-postgresql-persistent.json` and `django-postgresql.json`) reside directly in the `example` directory.

[2019-03-19 10:46] torsava commented on #305
@rarguello I see you've opened a PR #306 for this, but you're adding `libmemcached-devel` instead of `memcached`. `memcached` makes sense to me, as your application might want to use it to cache. However why do you need `libmemcached-devel`? That seems like a package for developing caching servers themselves, which doesn't seem suited for the s2i-python-container.

[2019-03-19 10:49] frenzymadness commented on #304
Could you please provide more info? What do you mean by incremental builds and why is this important?

[2019-03-19 10:49] torsava commented on #304
@omron93 Do we use incremental builds in other containers?

[2019-03-19 10:51] pkubatrh commented on #304
@torsava soon in nodejs: https://github.com/sclorg/s2i-nodejs-container/pull/201

[2019-03-19 11:06] junaruga commented on #268
@torsava Yes, they can install it by `requirements.txt`. The use case is considered.

[2019-03-19 14:17] torsava commented on #304
@pkubatrh Ah, thanks. I thought the incremental build feature of s2i was kinda buggy/unfinished. So I would probably wait to see how it works out for nodejs, see if they can work out the kinks before implementing it here.

[2019-03-19 14:18] torsava commented on #268
@junaruga In that case there's no change necessary in the s2i-python-container, right? If you agree, let's close this issue.

[2019-03-19 17:19] junaruga commented on #268
@torsava yes I think no change necessary for that.
There is the RPM package on SUSE.
https://build.opensuse.org/package/show/home:jayvdb:rpm/python-rpm-py-installer
But I do not think that we need the RPM package in the container use case.

[2019-03-19 17:19] #268 closed

[2019-03-22 15:17] frenzymadness commented on #188
We have insufficient data to resolve this. If it still affects you, please reopen.

[2019-03-22 15:17] #188 closed

[2019-03-22 15:19] frenzymadness commented on #92
Please reopen if this is still relevant.

[2019-03-22 15:19] #92 closed

[2019-03-22 15:19] frenzymadness commented on #55
Please reopen if this still affects you.

[2019-03-22 15:19] #55 closed

[2019-03-23 19:35] omron93 commented on #304
@pkubatrh @torsava https://github.com/sclorg/golang-container supports incremental builds for some time already. I'm not aware of any problems with it. @jcajka ?

[2019-03-27 14:07] frenzymadness commented on #317
I just misunderstood the hierarchy od `Pipfile` and `Pipfile.lock` files here. Their amount and placing are correct so I just add a comment to `Pipfile.lock` about how to create a new one for a new Python version.

[2019-03-31 23:52] GrahamDumpleton commented on #282
And now the base image uses NodeJS 10, which caused me issues with a project because something which was being used only worked up to NodeJS 8. These jumps in NodeJS version in base image could cause problems and because the CentOS images aren't tagged, it is impossible to fix usage to an older image with older NodeJS version. Luckily I was using base image using docker build and so could install

[2019-04-01 05:02] pkubatrh commented on #282
We updated to nodejs-10 in base early since nodejs-8 will hit EOL soon. Afaik @torsava is already working on a solution to having CentOS images tagged on Dockerhub for each build so that users have a fallback available when something breaks.

@hhorak FYI ^ maybe we could increment the version of the s2i-base image on nodejs update since it seems to be a breaking change for some applications?

[2019-04-01 07:04] frenzymadness commented on #282
Yes, we are aware that image tagging would be very useful. Issue https://github.com/sclorg/s2i-python-container/issues/301

[2019-04-01 07:36] hhorak commented on #282
I think the main problem we see here is that the nodejs included in the s2i-base is used as not meant to be used. The reason to include the NPM was to allow installing JS libraries easily, it is also mentioned in the README:

[code]

Going from one version of nodejs to another might of course change behaviour, we won't be able to do much about this, so I tend to say that if somebody needs to use t

[2019-04-01 07:40] hhorak commented on #282
This would cause issues for all who use s2i-base directly (they might not change the version and would use not-updated image without knowing) and would not help users of all the depended images like python, where we'd change the FROM silently. So, I don't see much of a benefit here.

[2019-04-01 07:41] hhorak commented on #282
@GrahamDumpleton, may I know why you run nodejs in the python image at all? What is the practical use of this?

[2019-04-01 07:55] GrahamDumpleton commented on #282
My specific use case isn't normal, but it is quite normal for people when using a derived Python S2I container to use ``npm`` to install Javascript packages for frontend development. Even if they pin Javascript package versions, things can break when the ``npm`` version is changed, because Javascript packages can often include explicit checks of the ``npm`` version and will fail if you aren't usin

[2019-04-01 08:12] hhorak commented on #282
Hm, that's not really nice. Fortunately, we don't see many issues like that, and hopefully such incompatibility issues like this are fixed upstream soon enough to not cause real troubles. In any case, since Node.js community is very agile, staying with the latest Node.js version is probably what can help here, as I expect that the incompatibility issues happen mostly with older versions.

[2019-04-02 03:05] GrahamDumpleton commented on #282
Closing this issue as original issue with HTTPS server crashing with node 6 seems to be fixed with node 10.

[2019-04-02 03:05] #282 closed

[2019-04-03 13:37] torsava commented on #301
Resolving in PRs https://github.com/sclorg/container-common-scripts/pull/113 and https://github.com/sclorg/rhscl-container-ci/pull/25.

[2019-04-05 13:33] #317 closed

[2019-04-10 16:34] #314 closed

[2019-05-21 13:49] jtratner opened #323 "Package latest release and/or update README to show correct image names"
I'd like to use the `pipenv` support from this repo; however, I've been unable to find the image on dockerhub and it doesn't seem to be on https://docs.openshift.com/enterprise/3.0/using_images/s2i_images/python.html either.  When I try to use, e.g.,

[code]

The python36 image does not have pipenv support installed and, additionally, `python37-centos7` does not appear to exist.

Are the latest s2

[2019-05-21 14:46] #94 closed

[2019-05-21 15:29] frenzymadness commented on #93
Optional init wrapper implemented in https://github.com/sclorg/s2i-python-container/pull/322

[2019-05-21 15:29] #93 closed

[2019-05-22 04:47] frenzymadness commented on #323
Hello.

- I am able to find Centos 7 with Python 3.6 on docker hub: https://hub.docker.com/r/centos/python-36-centos7
- If you wanna use Pipenv, you have to enable it via environment variable during a build of your image:
[code]
You can also use `.s2i/environment` file for that.
- Centos image with Python 3.7 is not available simply because Python 3.7 RPM does not exist for Centos. Python 3.7 is c

[2019-05-22 06:00] jtratner commented on #323
@frenzymadness - Oh man I just tried it again and realized that it worked.  I'm so sorry to bother you.

I think what ended up happening to me initially is that I was running this in a local repo with:

[code]

without having committed the `.s2i` directory.

Then I thought "Oh it must be a wrong version deployed", built the whole image locally, didn't work again, found out about the `--copy` comma

[2019-05-22 06:00] #323 closed

[2019-05-22 07:32] frenzymadness opened #324 "Outdated documentation"
Who or what procedure is responsible for updating documentation on Docker hub or Openshift docs? I am asking because both seem to be outdated:
* https://hub.docker.com/r/centos/python-36-centos7
* https://docs.openshift.com/container-platform/3.11/using_images/s2i_images/python.html

@torsava any thoughts who to ask?

[2019-05-22 07:33] frenzymadness commented on #323
No worries, I am always happy to help.

I've created a new issue https://github.com/sclorg/s2i-python-container/issues/324 to fix the documentation problem.

[2019-05-22 09:16] frenzymadness commented on #275
This issue is more than two months without reply so I am closing it. Feel free to reopen it if you still need any help from us.

[2019-05-22 09:16] #275 closed

[2019-05-22 09:34] frenzymadness commented on #290
I would like to implement it but I need help. I completely understand the problem and how we can solve it but, there are two copies of pip installed in the image:

* one is in the main virtual environment and is used by application itself for installation of its dependencies
* and the second one is in the special virtual environment created just for pipenv itself

Implementation of PIP_PIPENV_VERS

[2019-05-22 09:35] frenzymadness commented on #239
This issue is more than two months without reply so I am closing it. Feel free to reopen it if you still need any help from us.

[2019-05-22 09:35] #239 closed

[2019-05-22 09:36] frenzymadness commented on #305
This issue is more than two months without reply so I am closing it. Feel free to reopen it if you still need any help from us.

[2019-05-22 09:36] #305 closed

[2019-05-22 14:39] torsava commented on #324
@pkubatrh Hey, do you have rights to change these? Or do you know who does?

[2019-05-22 16:51] frenzymadness commented on #324
And why it's not done automatically especially for docker hub…

[2019-05-23 04:30] pkubatrh commented on #324
The docker hub descriptions should be done automatically on push to master, but seems like the slaves do not have latest scripts that fixed an issue with[ image tagging](https://github.com/sclorg/rhscl-container-ci/commit/31b63a126d4e12cbd30a1d74ed4d8e25fe514869) so the job fails before it can run the update. @hhorak can you refresh the jobs?

@bparees might know who the correct person to contact

[2019-05-23 14:06] bparees commented on #324
@bmcelvee can help you w/ the docs,or you can make a PR directly:

the 3.11 docs are here (master branch for now, though master branch may become 4.x soon)
https://github.com/openshift/openshift-docs/blob/master/using_images/s2i_images/python.adoc

i'm not sure if we have equivalent content for 4.x, it would be in this branch if so:
https://github.com/openshift/openshift-docs/tree/enterprise-4.1

[2019-05-26 05:41] GrahamDumpleton opened #325 "Fedora/Python 3.7 image should still source scl_enable."
In the `Dockerfile`` for Fedora/Python 3.7 image, it does:

[code]

This should not be using `${APP_ROOT}/bin/activate` directly for these environment variables. It should still be using `/opt/app-root/etc/scl_enable`. This is because derived images which have added additional startup actions to the `scl_enable` script will now fail, since those steps will be skipped.

If changes are needed becaus

[2019-05-28 04:37] frenzymadness commented on #325
Could you please take a look at the PR?

[2019-06-07 05:47] #315 closed

[2019-06-11 18:07] ihadgraft commented on #280
I got this working at one point when doing some initial testing and fortunately documented some things.  Here's the solution I was able to work out:

[code]

After setting this up, git will use your custom command instead of `ssh` directly, i.e. any subsequent git calls will just work.

[2019-06-19 09:09] lily524 commented on #156
for supervisor + gunicorn, can be config as below.

[code]

[2019-06-21 05:16] frenzymadness commented on #280
Hi @ihadgraft . Would you mind to transfer your last comment to a piece of documentation?

[2019-06-23 19:41] tumregels commented on #280
Try [this](https://stackoverflow.com/a/51979783/2248627). Should work.

    $ export GIT_SSH_COMMAND="ssh -i ~/.ssh/private_key_name"
    $ pip install -r requirements.txt

[2019-06-27 05:09] jtratner commented on #304
I think this would really help adoption. Right now, using s2i means waiting for a really slow build vs. a Dockerfile where requirements.txt would be cached.

[2019-07-11 12:14] GrahamDumpleton opened #333 "SCL SQLite versions too old to work with latest Django versions."
FYI. Looks like latest Django versions will not work any more if SQLite database is being used. Django has a version check on SQLite and the Python versions shipped bundle a version which is too old.

One example of this:

* https://github.com/WeblateOrg/weblate/issues/2875

The error will be:

[code]

[2019-07-11 12:34] nijel commented on #333
Just to clarify: It's not Python version, it's version of the sqlite3 library.

[2019-07-11 20:33] GrahamDumpleton commented on #333
SQLite is bundled with Python and that is used. So unless they have done work to separate things so the system SQLite is used, it is the Python version which is the issue.

[2019-07-12 10:17] nijel commented on #333
On most Linux distributions, system SQLite is used instead of the bundled one and CentOS 7 has 3.7.17 which we see in the error message....

[2019-07-13 09:45] scheung38 opened #334 "Pulling image error : How to work in Win 10 from behind corporate firewall env?"
We don't have github access from within corporate environment in Win 10. Like to use this for Flask app.

What is the syntax and where should I run s2i build if I initially download this repo into local desktop first. Because tried in local
s2i-python-container-master> s2i build https://github.com/sclorg/s2i-python-container.git - - context-dir=3.7/test/setup-test-app/ rhscl/python-37-rhel7 python

[2019-07-14 15:21] hakkeroid commented on #290
@frenzymadness (from my memories) Usually it is only required to pin the system's pip version. That is because when pipenv is installed it is (or was) conflicting with the existing pip due to some upstream changes. What pipenv is then installing inside the virtualenv shouldn't matter anymore. However, I cannot recall why I pinned pip inside pipenv as well. Maybe it was due to some strange behavior

[2019-07-15 06:11] frenzymadness commented on #290
Thanks @hakkeroid for your comment. I think that we can keep this issue open until a new bug of incompatibility between pip and pipenv shows up to see what the exact problem is and how to solve it. Pipenv was under heavy development in 2018 (more than 70 releases in one year) but now it seems to be less in rush with better care about other depending projects.

In the meantime, if it'd be beneficia

[2019-07-15 06:58] frenzymadness commented on #334
To work with s2i Python containers, you need two things:

* Base docker image based on Fedora/RHEL/Centos with the right Python version for your needs
* Your source code

So the question is: do you have access to Docker hub to pull down base docker image?

The simplest example of use is: `s2i build <path_to_source_code> <image_name> <final_container_name>` - for example `s2i build examples/django-

[2019-07-15 07:43] scheung38 commented on #334
It is going to get the same firewall issue as you are telling me to do the same command as when I previously tried.

I like to know how to reference a local source of image instead as behind firewall login to Github is not allowed

[2019-07-15 08:20] frenzymadness commented on #334
Your problem is not caused by restricted access to Github because you don't have to use this repository at all.
You need source code of your application. I guess you have it. If you just want to test it, feel free to play around with some examples in this repository or use them as an inspiration.
The second thing you need is a docker image. That's the reason why I asked whether you have access to

[2019-07-15 08:23] frenzymadness commented on #334
You can try to pull the centos Python 3.6 image from Docker hub via `docker pull centos/python-36-centos7`.

[2019-07-15 10:47] scheung38 commented on #334
Rhel equivalent?

I was able to build a very simple flask app using python-36-centos7 but 650MB??

[2019-07-15 13:02] geordgez commented on #334
What does your directory structure look like for the `s2i`-built image?

[2019-07-15 13:14] scheung38 commented on #334
Hi there 
I cloned your project but after 
S2i build. centos/python-36-centos7 hello-world
Could not reach URL https://pypi.python.org/simple/flask: there was a problem confirming ssl 
This is related to corporate firewall so I also have 
Pip conf [Global] Index-url = http://corporate.com/artifactory

Sent from Yahoo Mail on Android

  On Mon, 15 Jul 2019 at 14:02, George Zeng<notifications@github

[2019-07-16 08:54] frenzymadness commented on #334
Hi.

If you need to use pip with some special configuration, add the `pip.conf` file to your application and then set an environment variable `PIP_CONFIG_FILE` in `.s2i/environment` file.

For example:
[code]

Take a look at [pip docs](https://pip.pypa.io/en/stable/user_guide/#config-file) and also [s2i docs](https://github.com/openshift/source-to-image).

[2019-07-21 15:03] frenzymadness commented on #334
Did my last comment help you? Can I help you more?

[2019-07-22 12:18] fhoutr01 opened #337 "Add support for Gunicorn flag: --log-config"
Hello,

I'm supporting a python team on OpenShift. We need to log all pod output in the JSON format.

To achieve this on Python's end, I'm looking at the following solution: https://stackoverflow.com/questions/34753214/json-formatted-logging-with-flask-and-gunicorn

The S2I image only supports the `--config` flag. Is it possible to add support for the `--log-config` file as well?

Thanks!

[2019-07-22 12:39] fhoutr01 commented on #337
Currently resolved it by doing something along these lines:

[code]

[2019-07-22 12:39] #337 closed

[2019-07-22 13:30] scheung38 commented on #334
I will try but this image also takes care about init just like Phusion image does to make sure zombie processes are reaped?

[2019-07-22 14:19] scheung38 commented on #334
it works, but based on a single flask starter project the image size is around 651MB???

[2019-07-24 16:35] scheung38 opened #339 "What is the --context for and why is it needed?"
thank you

[2019-07-24 16:56] scheung38 opened #340 "What is the expected image size for Flask starter app? Got huge image size."
A basic flask app using python-36-rhel7 results in 1.9GB?

is it not defeating the purpose or slim docker images in the first place?

[2019-07-25 05:48] pkubatrh commented on #340
Hi @scheung38

the current image size is caused by a bug during the build process, when some of the images did not clean all of yum's cached data the right way.
Python image's layer is actually not affected by this (as it is one of the few images that did the clean-up correctly all along), but unfortunately the s2i-core and s2i-base, which the python images are using as their base layers, have bee

[2019-07-25 12:51] scheung38 commented on #340
Hi @pkubatrh then what is the normal expected starter flask app image size is expected to be?

[2019-07-25 13:23] pkubatrh commented on #340
Yeah, an image size of about 700MB seems about right for the result. Please note these images are not optimized for size, but rather designed generic enough to be used for various use cases in Openshift (= without root access), so they have a lot of build-time dependencies built in.
An image created for one specific use case from scratch will always be a lot smaller.

Not sure what you mean by rep

[2019-07-25 13:41] scheung38 commented on #340
repo as in GitHub, that it is only able to build from latest pushed code in GitHub.

So even if I start and s2i create from scratch, what sort of image size I should expect from Flask starter app?

[2019-08-02 07:21] pkubatrh opened #341 "numpy-test-app test case failing for python-27 image"
This is due to the fact that the latest upstream version does not support Python 2.7 anymore:
https://docs.scipy.org/doc/numpy/release.html#numpy-1-17-0-release-notes

Test logs: https://gist.github.com/rhscl-bot/80930281f4eb45ea9dc75b6d8a9114db

[2019-08-02 07:24] pkubatrh commented on #341
I guess we could pin the numpy version to 1.16 for python 2.7? WDYT @torsava @frenzymadness

[2019-08-05 09:08] frenzymadness commented on #341
I think that this is the best solution. Numpy 1.16 will receive all bugfixes till the end of the year. I'll prepare a PR.

[2019-08-06 06:03] #341 closed

[2019-08-11 09:21] frenzymadness commented on #334
Optional init wrapper can be enabled by `ENABLE_INIT_WRAPPER`. See the documentation: https://github.com/sclorg/s2i-python-container/tree/master/3.7#environment-variables

[2019-08-11 09:25] frenzymadness commented on #334
I think that this was answered in the other issue. It's a bug and we are working on it.

Please, take a look at the documentation first: https://github.com/sclorg/s2i-python-container/tree/master/3.7#environment-variables

You can use shell script, Python script or Python module as an entry point of your application. There are also some automatic run strategies you can use: https://github.com/sclo

[2019-08-11 09:25] #334 closed

[2019-08-11 09:29] frenzymadness commented on #339
If you specify the repository your application should be pulled from, `--context-dir` option is used to specify a subdirectory in this repository.

[2019-08-11 09:29] #339 closed

[2019-09-06 15:05] SaratM34 opened #343 "python 3.6 container image adding "/opt/rh/rh-nodejs10/root/usr/lib/python2.7/site-packages" to PYTHONPATH by default"
1) I am using the image **rhscl/python-36-rhel7** and I found an issue where **/opt/rh/rh-nodejs10/root/usr/lib/python2.7/site-packages** is getting added to the **PYTHONPATH** environment variable.
2) I tried to unset it through assemble and run file but whenever I open a shell session it is getting added back. I looked into the **scl_enable** file and removed **$NODEJS_SCL** from this command **

[2019-09-10 10:03] frenzymadness commented on #343
Thanks for the report. I'll take a closer look as soon as possible.

[2019-09-13 23:10] solvingj commented on #301
Very impressed by the follow through! Thanks very muc!

[2019-09-17 10:59] frenzymadness commented on #343
The path is added to `PYTHONPATH` in `enable` script for rh-nodejs10 software collection:
[code]

When I install all the packages from this collection, the directory `/opt/rh/rh-nodejs10/root/usr/lib/python2.7/` is empty so from my point of view, add the path into `PYTHONPATH` does not make sense but it also should not cause any problems to you because Python just skips this record while searching

[2019-09-17 11:03] frenzymadness commented on #343
I cannot find any bug related to this in Red Hat Bugzilla. I can report a bug to rh-nodejs10 maintainers but it would be handy to have some reproducer from you first.

[2019-09-17 11:16] pkubatrh commented on #343
As a workaround for this you can redefine the `NODEJS_SCL` variable so that the scl never gets enabled (if you do not care about npm that is):
[code]

[2019-09-26 09:39] frenzymadness commented on #343
Bugzilla for rh-nodejs software collection: https://bugzilla.redhat.com/show_bug.cgi?id=1755821

[2019-09-27 10:47] flask-rabmq opened #345 "python27 pip install uwsgi failed"
Sending build context to Docker daemon  4.096kB
Step 1/7 : FROM centos/python-27-centos7:20190806-27a5076
 ---> 899fcfa5ddde
Step 2/7 : RUN pip install uwsgi
 ---> Running in 90861fc3a6c4
Traceback (most recent call last):
  File "/opt/app-root/bin/pip", line 7, in <module>
    from pip import main
  File "/opt/app-root/lib/python2.7/site-packages/pip/__init__.py", line 4, in <module>
    import l

[2019-09-27 11:17] frenzymadness commented on #345
Could you please provide us more information? What kind of application are you trying to build? I've tried our `examples/npm-virtualenv-uwsgi-test-app` with the lastest image `centos/python-27-centos7:latest` and also with `:20190806-27a5076` and it works for me.

Do you have some minimal reproducer, please?

[2019-09-27 11:18] frenzymadness commented on #343
Since it's not a bug in the container itself, I'm closing this issue. Please, follow the bugzilla.

[2019-09-27 11:18] #343 closed

[2019-09-27 11:47] frenzymadness commented on #333
Latest centos:
[code]

So, we can pin Django to the older version or open a bug to update sqlite in Centos. Fedora 30 has sqlite 3.26.0, rawhide has 3.29. I think that the update would be much better.

[2019-09-27 11:53] frenzymadness commented on #340
I probably don't understand what you need. If you need to have images as small as possible, you should use some really small image as a base (centos ~70 MB: https://hub.docker.com/_/centos?tab=tags or Fedora ~66 MB https://hub.docker.com/_/fedora?tab=tags) and create your own docker file with minimal installation.

[2019-09-27 11:54] frenzymadness commented on #340
S2I images are universal and therefore always bigger than single-purpose images.

[2019-09-27 12:05] pkubatrh commented on #333
Note that in one of the more recent versions of sqlite there have been some ABI-changes, so updating to a newer version might not be possible in RHEL.

[2019-09-29 01:39] flask-rabmq commented on #345
I want to build python+flask+uswgi app.

Dockerfile:
FROM centos/python-27-centos7

RUN pip install uwsgi
# 添加标签说明
LABEL author="chenxiaolong" email="214443354@qq.com"  purpose="centos7+nginx+uwsgi+Python27基础镜像"

USER root

ENV nginxversion="1.14.0-1" \
    os="centos" \
    osversion="7" \
    elversion="7_4"

RUN yum install -y wget openssl sed python-devel&&\
    yum -y autoremove &&\
    yum c

[2019-09-30 10:06] frenzymadness commented on #345
You don't have to create your own dockerfile when using S2I. Take a look at [this example](https://github.com/sclorg/s2i-python-container/tree/master/examples/npm-virtualenv-uwsgi-test-app), how to prepare your application (eg. place your requirements into `requirements.txt` file).

Then you just need to build your application with s2i command, for example: `s2i build . centos/python-27-centos7 my

[2019-10-01 07:24] pkubatrh commented on #345
@flask-rabmq iirc the python27 SCL is not enabled when directly building on top of the image like that. You can wrap the `pip` call into `bash` (`RUN bash -c "pip install uwsgi"`) and the SCL will be enabled for the command. But using the image through s2i, as Lumir suggested, is probably easier.

[2019-11-02 15:08] jfmatth commented on #333
Where is this?

This is keeping me from moving my django project to OS

[2019-11-04 05:54] frenzymadness commented on #333
The latest versions of RHEL/Centos 7 contain older SQLite (3.7.17) but RHEL/Centos 8 contains version 3.26.0 which should be fully compatible with the newest Django. We plan to add Centos 8 soon. In the meantime, you can use Fedora images.

[2019-11-04 06:42] pkubatrh commented on #333
Hi @jfmatth

As far as I can tell the fix for this is really needed in the underlying rpm packages, so if you need this fixed for RHEL7 consider opening up a bugzilla report against the sqlite component.

However, be aware that (as I commented on previously) the sqlite version i RHEL7 is very old and backwards compatibility in sqlite is not really guaranteed (I remember one rebase that actually br

[2019-11-04 13:09] jfmatth commented on #333
@pkubatrh thanks for the response.

I guess Ill try the Fedora images or wait for RHEL 8

J

[2019-11-09 07:17] #345 closed

[2019-12-16 14:49] CarolineBt opened #358 "Slow package loading when using UPGRADE_PIP_TO_LATEST"
Hello,

I am using Python 3.5 image on Openshift and I use requirements.txt file to download and install my packages. I need to install cryptography library, and this library needs updated version of setuptools.

I found about the UPGRADE_PIP_TO_LATEST environment variable that permits me to downlaod and install setuptools before installing other packages, which is great. However, using this envir

[2019-12-17 06:41] frenzymadness commented on #358
Hello, Caroline.

That sounds really strange to me. I'll investigate it. Could you please provide us some reproducer. For example, is your application publicly available so I can try to build a container for it manually? If not, could you please send us only the important parts like `requirements.txt` and such.

Thank you. Lumír

[2019-12-18 14:00] frenzymadness commented on #358
I've tried to reproduce your issue. I've built django-test-app from our examples with Python 3.5 centos7 image and with/without `UPGRADE_PIP_TO_LATEST` set. The difference is only 8 seconds in my case which it's the exact time needed to download and upgrade pip/setuptools/wheel.

[2020-01-07 10:05] #340 closed

[2020-01-07 10:06] #333 closed

[2020-01-16 11:28] frenzymadness opened #360 "Testing of a library version with Python 2.7"
Test [npm-virtualenv-uwsgi-test-app](https://github.com/sclorg/s2i-python-container/blob/master/examples/npm-virtualenv-uwsgi-test-app/app.sh#L31) tests that we have the latest version of libraries installed in a virtual environment.

This won't work anymore because Python 2.7 doesn't get the latest versions due to its EOL. For example, the latest setuptools is 45.0.0 but the Python 2.7 support en

[2020-01-17 19:26] andyfeller commented on #360
Will second having an issue with `UPGRADE_PIP_TO_LATEST` upgrading to setuptools>=45.0.0 breaks Python 2.7 usage and something to fix it would be appreciated.

[2020-01-26 17:49] frenzymadness commented on #360
I might know where the problem comes from and I try to reproduce it next week. It seems that the version of pip/setuptools installed in the container is too old to support the "supported pythons" feature which means that the setuptools/pip stack is updated to the latest version of setuptools which does not support Python 2 but this fact is not known before the update.

[2020-01-26 17:51] frenzymadness commented on #360
The solution here might be to do an update in two steps:
1. Update to the latest version supported by the Python 2.
2. Update to the latest version. This step would be performed only for Python 3 because the newer setuptools/pip stack would know that there is no newer version with Python 2 support available.

[2020-01-26 18:10] andyfeller commented on #360
@frenzymadness TIL!  Thanks for the theory there; definitely need to bone up on that feature as I saw situations where this was and wasn’t an issue but didn’t know where to start looking

[2020-02-05 12:12] #360 closed

[2020-03-04 11:51] frenzymadness opened #368 "micropipenv as an alternative for pipenv for S2I images"
It seems that micropipenv might be a good alternative for pipenv in S2I images because it's a light piece of software and pipenv [seems to be unmaintained for a while](https://github.com/pypa/packaging.python.org/issues/701).

The main problem is that micropipenv does not support Python 2 which means that we can:
* either make it Python 2 compatible which does not seems to be an easy task (https:/

[2020-03-05 14:44] fridex commented on #368
We try to approach few issues with micropipenv we observed when using pipenv in AICoE:

Installing toolchain that is responsible for building the application during the actual build sounds like a not good approach. The s2i container images should come with all the packages that are needed to install an application.

A use case for that could be the usage of Python s2i inside a company that has res

[2020-03-05 14:45] fridex commented on #290
FYI, we proposed an alternative "micropipenv" - we use it in aicoe to tackle also this issue in https://github.com/sclorg/s2i-python-container/issues/368

[2020-03-06 06:32] frenzymadness commented on #368
Do you mean by this that pipenv should be installed in some specific version during the build od s2i-python container and not during the application deployment? We can implement something like this or some other way to pin the version of pipenv. Unfortunately, pipenv is not an RPM so we have limited possibilities here - mainly we cannot automatically rebuild the images when pipenv changes which we

[2020-03-06 08:48] fridex commented on #368
Yes, it should be installed during s2i python container build in a specific (tested) version. The same reason why pip is not installed on the application build. It will resolve https://github.com/sclorg/s2i-python-container/issues/278

I think this will apply to pip - so installing application stack from requirements.txt. Pipenv has its own way of [specifying Python indexes](https://pipenv-fork.re

[2020-03-06 09:11] frenzymadness commented on #368
You are right, but pip is distributed via RPM which means that when we release new pip in Centos or RHEL, the images are refreshed automatically. On the other hand, pipenv is not packaged and I don't think include it and all its dependencies in the image is a good idea.

Pinning of the latest stable release of pipenv and implementing a mechanism to update it to the latest version is a way to go no

[2020-03-06 09:26] fridex commented on #368
This introduces the issue you mentioned above - including pipenv in the s2i container image looks like too much - especially considering its [vendored dependencies](https://github.com/pypa/pipenv/tree/master/pipenv/vendor) - a lot of software required just to install packages well specified in a JSON file (no need to create virtual environment in s2i, no need to have full blown resolver, all the f

[2020-03-13 14:44] jstoeff opened #369 "Need updated docker image for shipment of our product"
We are close to the shipment of our product that uses this container https://access.redhat.com/containers/?tab=tags&architecture=AMD64#/registry.access.redhat.com/rhel8/python-36
However, it currently contains a vulnerability in UBI base images (CVE-2020-1712) that hinders us from shipping.
The vulnerabilty in UBI is already fixed. But it requires a rebuild fo your container to get it eliminated f

[2020-03-14 18:35] leogout opened #371 "app.sh is not executable by pod user"
Hello, I can't seem to be able to run `app.sh` from the .s2i/run script as `app.sh` does not have execution permissions.
I found the exact same problem in a related post [here on stackoverflow](https://stackoverflow.com/questions/46091601/cannot-chmod-file-on-openshift-online-v3-operation-not-permitted). Also [here is a veeery frustrating post](https://access.redhat.com/solutions/4221981) which se

[2020-03-14 18:50] fridex commented on #371
Is there any reason why you don't setup the executable bit and commit the file with changed mode into git?

[code]

[2020-03-14 19:21] leogout commented on #371
Thank you for your answer, my app.sh file was indeed executable but git wasn't tracking that information when adding / commiting. I just forced it with `git update-index --chmod=+x app.sh`. The build is currently running, I'll keep you updated.

[2020-03-14 19:25] leogout commented on #371
All right that worked, thank you very much. I thought that runnong `fix-permissions` on all the files under `/opt/app-root/src` was messing with the ones I had previously set. I'll make sure to answer this stackoverflow post then.

[2020-03-14 19:25] #371 closed

[2020-03-14 19:29] fridex commented on #371
Awesome, glad to help :+1:

[2020-03-16 14:27] frenzymadness commented on #369
Yes, the plan is to rebuild and ship our RHEL images soon. @pkubatrh knows more.

[2020-03-17 06:10] pkubatrh commented on #369
Indeed, they should be released soon.

[2020-03-31 13:18] leogout opened #376 "Can't find images with python 3.7 and 3.8 on docker-hub"
Hello, I can't find the susmentionned images on docker-hub: https://hub.docker.com/search?q=centos%2Fpython-3&type=image

Do you plan on building and pushing them yourself or is it expected that I do that on my local computer?
Either way is fine for me but I was wondering why the 3.6, 3.5 and 3.4 were already online and not the other two. Are they not ready yet? Or maybe I am looking in the wrong

[2020-03-31 13:37] frenzymadness commented on #376
Hello.

Python 3.7 is not and won't be available in RHEL and Centos so this version of Python is available only for Fedora.
Python 3.8 is available for Fedora 32 (still in beta and not yet released in the registry), RHEL 8 (as a module), RHEL 7 (as a software collection) and the same for Centos clones. But, Python 3.8 container images are still work in progress because Python 3.8 module and softwa

[2020-03-31 15:36] leogout commented on #376
Oh okay I see, I'll look into those thanks, I don't know the diff between Centos and Fedora 32 but I think it'll do for my UCs.

Abour my usages, I have two main needs:
- Running Flask applications in an s2i container thanks to gunicorn or uwsgi, though it wat tedious to install uwsgi from pip as it had to compile the C source code which is quite time consuming on smaller configs (~10 minutes on m

[2020-03-31 15:36] #376 closed

[2020-05-30 00:02] tumido opened #382 "Latest Pipenv changed behaviour on virtualenv isolation = dependencies are skipped to install"
The latest release of Pipenv https://github.com/pypa/pipenv/releases/tag/v2020.5.28 has changed the behaviour of `pipenv install` https://github.com/pypa/pipenv/issues/3057. As a result, Pipenv no longer installs packages that can be located in its path. This breaks s2i builds, since Pipenv is run in a different context than the actual applications. Let me illustrate:

Trying to install any packag

[2020-05-30 08:51] goern commented on #382
@fridex

[2020-05-30 15:31] tumido commented on #382
Hotfix: Python 3.6 (rhel8 based) builder image with the Pipenv version lock patch applied can be sourced from [`quay.io/tcoufal/python-36`](https://quay.io/repository/tcoufal/python-36).

[2020-05-31 08:30] frenzymadness commented on #382
Thank you! Could you please also open an upstream issue?

A simple reproducer:
[code]

[2020-05-31 08:46] goern commented on #382
@fridex is that something we should port to thoth‘s S2I Images?

[2020-05-31 12:11] goern commented on #382
BTW, for most of the use cases Thoth's micropipenv should be a very good alternative: https://github.com/thoth-station/micropipenv and it is included in all our S2I images, for example: https://quay.io/repository/thoth-station/s2i-thoth-ubi8-py36?tab=info

And Fedora ;) https://fedora.pkgs.org/rawhide/fedora-x86_64/micropipenv-0.1.6-1.fc33.noarch.rpm.html

@durandom

[2020-06-01 07:34] fridex commented on #382
In case of micropipenv (https://github.com/sclorg/s2i-python-container/issues/368), there could be just one virtual environment for the actual application and micropipenv could be installed from an rpm (during the builder container image build so that it is already included https://github.com/sclorg/s2i-python-container/issues/278).

Anyway, worth to discuss this behavior with Pipenv upstream to s

[2020-06-01 10:35] torsava commented on #382
I can confirm the reproducer. It works with the old version (`2018.11.26`) and fails with the new one (`2020.5.28`).

I have tried to coax the correct behaviour from the new version by using the flag `--no-site-packages`, but it does not help.

[2020-06-01 10:42] frenzymadness commented on #382
Issue reported upstream: https://github.com/pypa/pipenv/issues/4301

[2020-06-01 11:05] frenzymadness commented on #382
The issue is already fixed upstream: https://github.com/pypa/pipenv/pull/4284

[2020-06-02 06:12] JanMalte opened #384 "env"

[2020-06-02 06:13] #384 closed

[2020-06-02 07:14] #382 closed

[2020-06-03 11:44] torsava commented on #382
And it's been released!

https://github.com/pypa/pipenv/releases/tag/v2020.6.2

[2020-06-09 11:02] frenzymadness commented on #290
The latest images have the possibility to use micropipenv and in this PR https://github.com/sclorg/s2i-python-container/pull/387 I'll implement `PIN_PIPENV_VERSION` so you'll be able to pin the best version for you.

We still cannot and don't want to include pipenv to the image itself but the latest improvements should give you enough control and reproducible builds.

[2020-06-09 11:06] frenzymadness commented on #278
Implementation of the `PIN_PIPENV_VERSION` is in #387

[2020-06-09 11:10] frenzymadness commented on #368
The current status is:
* micropipenv can be used in python-container with `ENABLE_MICROPIPENV` (from PyPI)
* pin a pipenv version will soon be possible #387

Our plan is to package micropipenv for RHEL so it will be always available as a stable option in all our containers in case something happen with pipenv itself. It also brings more attention to micropipenv so we might use it as a default in t

[2020-07-13 05:17] frenzymadness commented on #324
@bparees Does it make sense to maintain the documentation in two places? We update it fairly often and send a PR every time we do so does not scale.

[2020-07-13 05:18] #358 closed

[2020-07-13 05:19] frenzymadness commented on #290
`PIN_PIPENV_VERSION` is available.

[2020-07-13 05:19] #290 closed

[2020-07-13 05:24] frenzymadness commented on #369
The latest released version is not affected by the CVE you mentioned.

[2020-07-13 05:24] #369 closed

[2020-07-13 05:25] frenzymadness commented on #278
`PIN_PIPENV_VERSION` is available.

[2020-07-13 05:25] #278 closed

[2020-07-13 14:52] bparees commented on #324
not sure it's a scaling issue but i can understand it's more work than you'd want to deal with.  I see a couple options:

1) assuming we allow it (and i think we do) update the official docs to be more general/hand-wavy, and have them link out to the github docs for "current specifics".  Just keep in mind that if behavior changes between versions, you're going to have old openshift docs potentiall

[2020-07-14 11:02] frenzymadness commented on #324
I have related (and probably stupid) questions: How a container image finds its way from Docker hub, Fedora registry, or Red Har catalog to OpenShift?
If I understand it correctly, users can import any container image they want but OpenShift also offers some defaults and those default images are documented in the OpenShift documentation. It this assumption correct? If so, Who and how often updates

[2020-07-14 13:45] bparees commented on #324
more or less correct, yes.

SCL team updates the images by publishing new versions to registry.redhat.io.  Assuming they are just updating an existing tag, new openshift installs will pick up the image automatically. Existing installs can optionally "refresh" their imagestream imports to pick up the new version.

The flow is as follows, for example for the python image:
1) SCL image repo defines t

[2020-07-14 15:28] hhorak commented on #324
What I'm wondering is when this import happens -- is it once for each major OCP version or regularly for minor updates? I.e. if we release a new version of the python container after say 4.3 is released GA, will the new version of the python stream be available in some further 4.3.x release or just in 4.4.x?

[2020-07-14 15:34] bparees commented on #324
I.e. if we release a new version of the python container after say 4.3 is released GA, will the new version of the python stream be available in some further 4.3.x release or just in 4.4.x?

@gabemontero would have to comment on exactly when he does refresh imports to the samples operator, but in general we do not add new imagestreamtags (e.g. adding a new minor version tag like "3.7" when the pri

[2020-07-14 15:36] hhorak commented on #324
Ok, got it, thanks @bparees

[2020-07-14 15:40] gabemontero commented on #324
On Tue, Jul 14, 2020 at 11:34 AM Ben Parees <notifications@github.com>
wrote:

Yep the methodology @bparees described is still the one in effect.

—

[2020-07-15 05:23] frenzymadness commented on #324
And that might not be true. For example, when we implement a new feature we do it for all supported images (all Pythons and platforms combinations) when it's possible and reasonable and the new feature is usually reflected in the documentation.

And then, for example, @pkubatrh releases a new rhscl/python-27-rhel7 image which has the same version and the only difference is in the release number (`

[2020-07-15 13:33] bparees commented on #324
yeah it makes sense, that sort of scenario is what i was hedging against with "most likely".  Certainly new behaviors might be introduced and effectively "backported' to the older framework versions, but for the most part i'd expect these images to be pretty stable at this point.  And of course it's always a choice whether you backport new behaviors to the older versions, or just introduce it in t

[2020-07-16 17:29] hhorak commented on #324
My preference goes to having the official OpenShift doc more hand-wavy (include basic usage, that does not change) and point to the Red Hat Catalog where the full doc should be available (not to github).

[2020-09-07 09:16] frenzymadness opened #397 "Test django example here in CI"
[django-ex](https://github.com/sclorg/django-ex) has now two supported branches:

* master with obsoleted Django for RHEL/Centos 7
* 2.2.x with supported LTS Django for RHEL/Centos 8

It would be nice to test both versions here in CI because changes here might have some impact there and Django-ex is also a very popular OS example.

[2020-10-22 16:27] ysangkok opened #405 "2.7 image vulnerable to CVE-2020-26116"
Even though 2.7 is out of support, Red Hat has patched to fix this httplib exploit. Would be nice to have it patched here too: https://access.redhat.com/errata/RHSA-2020:4273

[2020-10-23 07:14] frenzymadness commented on #405
You are right. Python 2.7 is EOL but Red Hat still supports it. This means that when the fixes land in modules/collections in RHEL, they will be automatically included in the upcoming release of our containers based on RHEL.

I can take a look at a specific version of RHEL/module/collection and their combinations if you want. Otherwise, it's just matter of time.

[2020-11-04 07:37] frenzymadness commented on #397
This is partially done as tests of manual dockerfiles use django-ex as a testing application. Unfortunately, all those tests use the obsolete django-ex master branch which we should fix.

[2020-11-04 07:37] #405 closed

[2020-12-23 11:49] EelcoA opened #420 "WARNING: could not run 'manage.py collectstatic' ??"
Using 3.8, we have an issue with the step to collect the statics, deployed on OpenShift. The build gives this warning:
`---> Collecting Django static files ...
WARNING: could not run 'manage.py collectstatic'. To debug, run:
    $ python ./manage.py collectstatic --noinput
Ignore this warning if you're not serving static files with Django.`

Doing a manual `python manage.py collectstatic --noinput

[2021-01-04 09:12] frenzymadness commented on #420
Hello. Could you please provide more detailed information? Which platform do you use (Fedora, RHEL, Centos)? Could you please also send us a link to your app?

[2021-01-05 10:08] frenzymadness commented on #420
A stripped version of your application and the exact version of the image you use should be all I need to reproduce the issue. Thank you!

[2021-01-05 13:41] EelcoA commented on #420
I stripped the app, you can find it at: https://github.com/EelcoA/stripped

Then I tried creating the app with the python:3.8 base image, which gave an error when I tried:

[code]

Then I saw that we used python:38-ubi7 as base. With that I successfully created the app and reproduced the warning:
[code]

I do not know the relation between the python3.8 with and without '-ubi7', but apparently it i

[2021-01-05 13:48] pkubatrh commented on #420
`python:3.8` and `python:3.8-ubi7` _should_ be the same image. However the error message you see when using the former seems to hint at some other (non-s2i, eg. something random from dockerhub) image is being used by Openshift. You might want to check logs to see what image is actually being used there.

I will leave the warning part to @frenzymadness as he is the Python expert between the two of

[2021-01-06 12:04] frenzymadness commented on #420
Thank you for all the information! I think I know where the problem lies. I've reproduced it with ubi7/python-38.

When I run the command proposed in the error message manually (`python ./manage.py collectstatic --noinput`) in the new container, I get this:
[code]
So the root cause seems to be this line: https://github.com/EelcoA/stripped/blob/02f58bef91f5bac2c772ffc8d2d48979c9b9fdf3/config/settin

[2021-01-06 13:37] EelcoA commented on #420
Thanks for investigating this.

But I don't think that this is the cause. It's true that here SECRET_KEY is not set (in the stripped app), but in the real project it is.

Logically, collectstatic shouldn't depend on the SECRET_KEY setting. But of course sometimes things are more intertwined than can be foreseen from the outside.

When I run `python manage.py collectstatic` on my local machine in t

[2021-01-07 08:19] EelcoA commented on #420
@frenzymadness I'll create a completely stripped version, that doesn't need any settings to ease up the investigation.

[2021-01-07 08:45] EelcoA commented on #420
@frenzymadness You might be right about the env settings thing. Collect Statics works in the even more stripped version. This is good news in one way. But I do need the settings. How can I get them from the environment when it blocks the collectstatic process? Any idea about this?

[2021-01-07 09:11] frenzymadness commented on #420
I probably don't understand what are you trying to achieve. Collectstatic is just kind of an installation step but there is no reason to not set the secret key if you want to run the application in the container you are trying to build. What is the reason to not set the secret key for collectstatic even it's necessary for the application to start at the end?

From my point of view, the best would

[2021-01-07 12:10] EelcoA commented on #420
Thanks for thinking with me. What I do in settings.py is:
[code]
And I set it in Openshift as environment setting, through a secret. Together with all other environment dependent settings like database-user etc.
This way my code is completely environment independent.

I hope this explains what I do and why.

What I don't understand still is why collectstatic fails. First because it shouldn't need

[2021-01-07 15:15] frenzymadness commented on #420
Your settings look reasonable to me. I'm far from OpenShift expert (I'm actually not even a user) but is it somehow possible that these environment variables are available for the container when it runs (`podman run` step) but not when it builds (`s2i build` or `podman build` step). I have a feeling that this might be the cause because when you do it manually, the container is already running and

[2021-01-08 09:12] EelcoA commented on #420
It seems likely that, as you suggest, the environment settings aren't available during the build. That would explain why running 'collectstatic' fails during built, but succeeds afterwards in the terminal of a running container.

But then, I still try to understand the logic behind that failure. I know that CollectStatic does need some settings from settings.py like STATIC_URL. But does it crash t

[2021-01-08 09:45] frenzymadness commented on #420
`os.environ` is a mapping like a dictionary so when a key is not there, a call to `get` method returns `None`. This is not a problem.

The problem is in Django and a quick googling uncovers that it's a common problem for all container applications (for example Heroku). The [accepted solution](https://stackoverflow.com/a/59758479) on stack overflow suggest basically what you invented yourself. It s

[2021-01-08 12:21] EelcoA commented on #420
Ok, thanks. Then that closes the issue IMHO. Thanks for your time and effort.

[2021-01-08 12:21] #420 closed

[2021-01-08 13:21] frenzymadness commented on #420
Then you for your patience. I've also learned something new today.

[2021-03-24 23:29] AWhetter opened #430 "Support poetry as an alternative for package installation"
poetry is a tool much like pipenv and it supports a similar feature set to pipenv. Most notably, it supports lock files. It's less popular than pipenv but it's still a widely used tool.

Currently we make use of poetry by having an extra step in our developer workflow where we get poetry to produce a requirements.txt file, but we lose out on some of the benefits of lock files this way. Ideally wou

[2021-03-24 23:44] fridex commented on #430
You can enable [micropipenv](https://github.com/thoth-station/micropipenv) (by providing `ENABLE_MICROPIPENV=1`) which should install dependencies from poetry specific files.

[2021-03-24 23:59] AWhetter commented on #430
So it does! I had no idea. Thanks for pointing this out.

[2021-03-24 23:59] #430 closed

[2021-03-30 06:11] frenzymadness commented on #397
Fixed in https://github.com/sclorg/s2i-python-container/commit/8cbbfd661b34c17d44cec26f726a5611b18b473c

[2021-03-30 06:11] #397 closed

[2021-03-30 06:14] frenzymadness commented on #368
Update: micropipenv will be available in RHEL 8.4.0. Then, we can make it available by default in all our containers and optionally replaced by pipenv per user request.

[2021-04-27 07:39] lukaszachy opened #437 "ubi7/python-38 uses new django-ex -> failing test"
When test suite is ran for `rh-python38-container`:
[code]

[2021-04-27 07:42] frenzymadness commented on #437
The problem is [here](https://github.com/sclorg/s2i-python-container/blob/master/3.8/test/run#L222) When the test runs for an image without `rhel7` or `ubi7` in the image name, it does not detect that it should use the older Django example.

We have to find a better way how to identify RHEL 7 from something else than the image name.

[2021-04-28 10:37] Namratha4 opened #439 "pip upgradation"
Pls upgrade pip to **21.1** version. On openshift, it is by default considering the 19.3.1 version due to which some libraries are not able to get downloaded from nexus.

[2021-04-28 12:31] frenzymadness commented on #439
Could you please share more details? What problems do you have with pip 19.3.1? What does "some libraries are not able to get downloaded from nexus" means? Do you know that you can use `UPGRADE_PIP_TO_LATEST` to get the latest pip? See: https://github.com/sclorg/s2i-python-container/tree/master/3.8#environment-variables

[2021-04-30 14:09] yrro opened #442 "Container comand exits silently when APP_MODULE=app:app"
I ran into a usability issue when helping a user get their application running on OpenShift.

Their application code is in `app.py`, so we set `APP_MODULE=app:app` and were confused when the `run` script exited silently after launching the app.

This happened because the `run` sees that `APP_FILE` is not set, and so defaults it to `app.py`. The module then gets launched as a script, and since it o

[2021-05-03 11:53] frenzymadness commented on #442
Thanks for the report. It definitely makes sense that when one of the `APP_` variables is set, we should use it and ignore the defaults. I hope I'll find a time for this soon. The fix has to be implemented in https://github.com/sclorg/s2i-python-container/blob/master/src/s2i/bin/run.

[2021-05-04 07:45] #437 closed

[2021-05-04 12:04] frenzymadness commented on #442
I'm gonna try to fix this in #444

[2021-05-12 09:41] frenzymadness commented on #442
Would you be able to review the proposed fix?

[2021-05-12 13:52] yrro commented on #442
Looks good to me, thanks.

[2021-05-14 19:54] evanshortiss opened #446 "unable to use alternative ports. only 8080 is used"
I've run into an issue where my gunicorn application refused to listen on any port besides 8080.

It seems [that this line in `run`](https://github.com/sclorg/s2i-python-container/blob/master/3.8/s2i/bin/run#L98) supersedes all other settings.

Perhaps this should be configurable via a runtime environment variable? I assume the reason the `--bind` is passed is because a developer might not have `b

[2021-05-17 15:01] frenzymadness commented on #446
Thanks for the report!

The question here is whether it makes sense to remove the --bind entirely and rely on the config or add an env variable to specify a port to listen on. We also use the default port for Django.

What about this:
1. If there is a config file and if it contains "bind", do not use the --bind CLI parameter at all
2. if there is not a config file or it does not contain "bind", us

[2021-05-17 16:03] evanshortiss commented on #446
What you've described sounds like the ideal scenario IMO. Flexible, but uses sensible defaults 👍

[2021-05-24 05:15] frenzymadness commented on #446
I should have time to implement this next week.

[2021-05-27 10:20] evanshortiss commented on #446
BTW, this is not a blocker for me so no time pressure from my side!

I appreciate you taking care of it for future usage/users though! 🙏

[2021-06-01 07:16] frenzymadness commented on #442
This has been fixed in the mentioned PR.

[2021-06-01 07:16] #442 closed

[2021-06-10 07:52] frenzymadness commented on #446
@evanshortiss could you please take a look at my implementation in #450 ? It's ready for merge from my point of view but you might have something to say.

[2021-06-11 09:01] evanshortiss commented on #446
@frenzymadness just tested the 3.6 version and it worked perfectly with the gunicorn app I have. Fantastic work! Docs make the usage nice and clear too 👍

Thank you!

[2021-06-11 16:31] #446 closed

[2021-06-11 16:31] frenzymadness commented on #446
Thank you!

[2021-06-17 08:12] frenzymadness commented on #439
All Python 3 images should now have the latest pip from Fedora 34 which is 21.0.1. If this version is too old for you, you can still use `UPGRADE_PIP_TO_LATEST` environment variable.
Feel free to reopen this issue if you need anything.

[2021-06-17 08:12] #439 closed

[2021-07-26 11:03] pacospace opened #466 "install python packages out of s2i virtualenv"
Hi all,

when trying to install packages, we (thoth team) don't want to pollute user environment, so we run using `/usr/bin/pip3`, but by default they are still installed in app-root.

Is there a way to change this behaviour with an env variable? Or is there any solution to this problem?

Source of DockerFile: https://github.com/thoth-station/s2i-thoth/blob/725a20f808136ae82f2b5987f6d6df8e69787926

[2021-07-26 11:04] pacospace commented on #466
Related-To: https://github.com/thoth-station/s2i-thoth/issues/201

[2021-07-28 12:08] frenzymadness commented on #466
I've tried to reproduce the issue in the simplest way possible running in the UBI 8 Python 3.9 container:
[code]
It seems that it properly installs the package outside the virtual environment. I'll try to reproduce your exact steps soon.

Side question: Have you considered installing dependencies from RPM packages?

[2021-07-28 13:45] pacospace commented on #466
Thanks a lot @frenzymadness!

here is the image built running ` podman build --tag fmurdaca-dev -f ./ubi8-py38/Dockerfile` https://quay.io/repository/pacospace/ubi8-py38?tab=tags

Actually not! cc @fridex

[2021-07-29 06:14] frenzymadness commented on #466
Now I see that the list of packages is very long and I'm sure that a lot of them aren't available in RHEL.

I know where the problem is. You are setting the `MICROPIPENV_*` variables to modify its behavior but you are setting them to `curl` command instead of the python/micropipenv - the environment variables are not preserved after the pipe, see this simple reproducer:

[code]

A few more questio

[2021-07-29 08:40] pacospace commented on #466
Thanks @frenzymadness!! I rebuilt the image (https://quay.io/repository/pacospace/ubi8-py38?tab=tags) to test and packages are not installed there anymore as expected, but pip is not updated to the version mentioned in https://github.com/thoth-station/s2i-thoth/blob/725a20f808136ae82f2b5987f6d6df8e69787926/ubi8-py38/Dockerfile#L33

[code]

Very good questions, I think we can definitely improve on

[2021-07-29 09:08] pacospace commented on #466
I actully saw that for the new image ubi-py39, we are doing this, so it's just a matter of adjusting the other: https://github.com/thoth-station/s2i-thoth/blob/725a20f808136ae82f2b5987f6d6df8e69787926/ubi8-py39/Dockerfile#L29

[2021-07-29 09:15] pacospace commented on #466
but it should be `COPY ./requirements.txt /opt/app-root/src/requirements.txt` actually for micropipenv to find it. I will adjust that as well.

[2021-07-29 11:59] frenzymadness commented on #466
It is but in a different folder. If you run pip as root, it installs packages to `/usr/local/lib/python3.8/site-packages/` to prevent conflicts with system packages. And the main binary uses the newest version:
[code]

[2021-07-29 12:29] pacospace commented on #466
thanks @frenzymadness!!

[2021-07-29 20:06] frenzymadness commented on #466
Do you have more questions?

[2021-07-29 21:04] pacospace commented on #466
All good @frenzymadness, thank you very much for all help, support and explanations!!

[2021-07-30 05:44] frenzymadness commented on #466
You are welcome. Feel free to open another issue in case of need or contact me on other channels.

[2021-07-30 05:44] #466 closed

[2021-08-12 12:26] abompard opened #468 "Incompatibility with poetry (use of the src subdir)"
S2I puts the source code in a `src` subdirectory of the Python virtualenv.
Unfortunately, that's also where [poetry](https://python-poetry.org/) clones git repositories when dependencies are specified as [git dependencies](https://python-poetry.org/docs/dependency-specification/#git-dependencies). This causes conflicts because both apps think they own the directory. For example when Poetry sees th

[2021-08-18 11:01] frenzymadness commented on #468
Thanks for the report. Could you also please provide an example application where using poetry and a package from git repo might cause the mentioned issue? IIRC we do not support poetry directly yet but we do support micropipenv which is able to install packages listed in poetry.lock. Could you try to use micropipenv instead of poetry?

[2021-08-20 07:55] frenzymadness opened #469 "Test Django 3.2.x from django-ex here"
Together with 2.2.x which is still supported.

[2021-08-20 14:39] wjhrdy commented on #304
I just found this article about how to make incremental builds work using s2i python container. https://developpaper.com/using-s2i-to-build-images-from-source-code/

[2021-08-23 11:00] frenzymadness commented on #304
So, If I understand it correctly from the node and go containers, it should work for Python container like this:
* Users prepare their own Dockerfile, where they call the save-artifacts script which basically creates a tarball from the main virtual environment with all app dependencies already installed.
* Then, during a second build, if the tarball is provided in `/tmp/artifacts`, it's extracted

[2021-08-23 11:46] selvaganapathi-DA commented on #469
Django 2.2, will end in April 2022

[2021-08-23 11:47] frenzymadness commented on #469
You are right. We also still support 1.1 LTS for RHEL and Centos 7 with Python 2.

[2021-09-10 08:58] abompard commented on #468
Hey! I didn't know about micropipenv, it seems to be a good candidate to replace our Poetry-based hack in assemble. However, we have Twisted as one of our indirect dependencies and we're hit by thoth-station/micropipenv#186, since Twisted marks some dependencies as Windows-only and micropipenv tries to install them.

[2021-09-10 10:40] frenzymadness commented on #468
Could you please take a look at https://github.com/thoth-station/micropipenv/pull/188 This should fix your issue in micropipenv. Could you please test it and provide some feedback there?

[2021-10-16 11:20] yrro opened #479 "pip install . is not run if setup.cfg is present"
Following the [Packaging Python Projects](https://packaging.python.org/tutorials/packaging-projects/) leads you down the road of creating a `pyproject.toml` file (which declares that setuptools is used to build the project) and a `setup.cfg` file, which appears to be a newer alternative to `setup.py`.

I noticed that the `assemble` script only runs `pip install .` if `setup.py` is present, so I ha

[2021-10-20 04:42] frenzymadness commented on #479
What Python version and platform combination do you prefer?

[2021-10-20 12:33] frenzymadness opened #481 "Minimal 3.9 container image is not available"
@phracek do you have a plan to add a GH Action here to push the 3.9-minimal container image to quay.io? From my point of view, this is the last piece of this effort missing.

[2021-11-02 06:20] #479 closed

[2021-11-02 11:06] yrro commented on #479
Sorry - didn't get around to trying this myself. But I am 99% sure your test reproduces what I'm trying to do exactly. Thanks :)

[2021-11-29 15:05] pacospace opened #484 "setuptools version update?"
Hi everybody,

I recently encountered an issue with an s2i base image: https://github.com/thoth-station/thoth-ops-infra/issues/50. I was wondering what are the current constraints on setuptools version? Is there any plan to update it?

Thank you in advance for all support and answer.

[2021-11-29 15:10] frenzymadness commented on #484
Do you mean Python setuptools? Are you using s2i-python container image or s2i-base directly? In s2i-python, there is an option to update pip/setuptools/wheel as a part of the build process.

[2021-11-29 15:13] frenzymadness commented on #484
By default, setuptools version should be the same as it is in the OS as an RPM package - even in the virtual environments. Do you use Fedora or RHEL/Centos?

[2021-11-29 15:36] pacospace commented on #484
I'm using s2i-thoth based base images (s2i-python and ubi8), in particular: https://github.com/thoth-station/s2i-thoth/blob/master/ubi8-py38/Dockerfile available at https://quay.io/repository/thoth-station/s2i-thoth-ubi8-py38

[2021-11-29 15:39] pacospace commented on #484
Yes python setuptools sorry! What is the option? Thanks a lot @frenzymadness!!

[2021-11-29 16:07] frenzymadness commented on #484
Usually, you can use "UPGRADE_PIP_TO_LATEST", see: https://github.com/sclorg/s2i-python-container/tree/master/3.8#environment-variables

Even you are adjusting the assemble script in your container image heavily, the part handling this option should still be there and it should still work. You can also update your Dockerfile to install whatever version you need as you already doing for pip (just d

[2021-12-02 14:10] pacospace commented on #484
Thanks @frenzymadness! I will check on that!

[2021-12-15 07:53] frenzymadness commented on #484
I'm closing this issue now. If you need help, feel free to open a new one or reopen this one.

[2021-12-15 07:53] #484 closed

[2021-12-18 08:52] frenzymadness commented on #481
Fixed in #485

[2021-12-22 10:29] torsava commented on #481
I can successfully pull the image from quay.io:

    podman pull quay.io/sclorg/python-39-minimal:el8

However, without first looking up the tag `el8`, it gives me an error:

    podman pull quay.io/sclorg/python-39-minimal
    Trying to pull quay.io/sclorg/python-39-minimal:latest...
    Error: initializing source docker://quay.io/sclorg/python-39-minimal:latest: reading manifest latest in quay.i

[2022-01-03 12:58] phracek commented on #481
Hi @torsava

It was agreed at the meeting, that the latest tag will not be used. However. Adding latest to the line https://github.com/sclorg/s2i-python-container/blob/master/.github/workflows/build-and-push-minimal.yml#L70 is super simple.

As soon as the minimal image will use other tags, then the latest will not be valid.
@hhorak @pkubatrh WDYT?

[2022-01-04 11:36] hhorak commented on #481
I cannot remember whether we talked about not using `latest` specifically, was there some reason? It would actually make sense to me as well. If we only have `:el8` now, then `:latest` would be the same as `:el8` tag, and once there is something like `:el9`, we would move the `:latest` to match `:el9` (even if we keep maintaining `:el8`, which we might decide not to). Or is this not a good idea fr

[2022-01-05 09:44] torsava commented on #481
We discussed this on the meeting and decided to implement the `latest` tag. @phracek please make it so. :)

[2022-01-05 12:10] phracek opened #491 "Fix OpenShift tests"
The tests are failing because:

[code]

[2022-01-06 10:57] phracek commented on #481
This should be solved by #492

[2022-01-06 11:11] torsava commented on #481
Thank you, @phracek.

That makes our 3.9-minimal container readily available, so I'm closing this issue, great work @frenzymadness !

Last thing to do is to write an article, which I have on my todo list..

[2022-01-06 11:11] #481 closed

[2022-02-02 09:34] phracek commented on #491
This is solved by https://github.com/sclorg/s2i-python-container/pull/494

[2022-02-02 09:34] #491 closed

[2022-02-04 11:59] frenzymadness opened #495 "Switch Fedora tests to something newer"
Currently, we cannot run tests for Fedora 35 here because the docker we have on Centos 7 is too old. @phracek do I understand it correctly that the only thing we need to do is to switch this
https://github.com/sclorg/s2i-python-container/blob/6dddc3a596344202d92c6454f6fa21a63924a853/.github/workflows/docker-tests.yml#L16-L21
to Centos stream 9: https://github.com/sclorg/sclorg-testing-farm/blob/ma

[2022-02-14 17:12] gardar opened #497 "Set max version of pipenv in python2.7"
Using the latest version of pipenv in python2.7 gives this error:

`ImportError: No module named weakref`

I suggest adding a max or default version of pipenv in python2.7 as pipenv has dropped support for python2 in the latest releases.

https://github.com/pypa/pipenv/issues/4834

`PIN_PIPENV_VERSION=2021.5.29`

[2022-02-15 06:28] frenzymadness commented on #497
Hello.

Thanks a lot for the report and the PR! However, I don't understand its purpose. Pipenv should have Python 2 compatibility in its metadata and pip in Python 2 environment should install the latest supported version not the latest pipevn release.

* v2021.5.29 - supports Python 2
* v2021.11.5 - yanked
* v2021.11.5.post0 - yanked
* v2021.11.9 - This release and newer are Python 3 only

If I

[2022-02-15 11:15] gardar commented on #497
Hi, yes I was a bit surprised that a incompatible version was pulled in my build and apparently it's attempting to install v2021.11.5

Here are some parts of the logs that are relative:

[code]

Perhaps it's an issue with the pip index that's not reflecting the yanked releases.

[2022-02-16 09:47] frenzymadness commented on #497
Do you have a project I can use to reproduce the issue? It seems to me that the latest pip with support for Python 2 supports also yanked releases:
[code]
I'm testing this on Fedora. What platform do you use?

[2022-02-16 15:59] gardar commented on #497
I'm building with podman (buildah) on rhel 8.5.
It's a project that's in a locked down environment so I'm afraid I don't have a project that I can publish to reproduce the issue.

I'm wondering if perhaps the internal pip mirror doesn't support yanking, do you know if I can query the pip mirror somehow to see if it's been yanked?

[2022-02-17 13:11] frenzymadness commented on #497
It's hard to say for your specific case but PyPI index produces the list of the available packages as an HTML page, for example https://pypi.org/simple/pipenv/
If you inspect the source code, you see that some of the anchors have `data-yanked=""` attribute which marks the yanked releases.
However, PEP 503 says nothing about yanked releases: https://www.python.org/dev/peps/pep-0503/

[2022-02-17 13:16] frenzymadness commented on #497
Ah, there is a separate PEP for that: https://www.python.org/dev/peps/pep-0592/ What software do you use as the repository?

[2022-04-25 13:01] frenzymadness commented on #497
Is there anything new about this issue? Does your internal repo support yanked releases? Is there anything I can help you with?

[2022-04-25 13:13] gardar commented on #497
No nothing new, the internal repo apparently didn't yank it automatically so we had to do it manually.
Not sure if #498 should be merged or not, since it's apparently just a workaround for a bug (or a lack of a feature) in the repo syncing tool.
But I guess it wouldn't hurt to merge it since others might be affected and it's not like it's a majorly invasive code change.

[2022-04-25 13:46] frenzymadness commented on #497
On the other hand, your PR reimplements the logic PyPI and pip already have and our container images install the correct version of pipenv for Python 2.7 as it is. It's not only about pipenv but if your tools don't support yanking of releases you might hit a similar issue with other packages as well and I think that it's not a good idea to fix the problem here in the container image.

I'll close t

[2022-04-25 13:46] #497 closed

[2022-04-27 08:57] phracek commented on #495
I will fix it soon. it is on my plan.

[2022-04-28 14:49] #495 closed

[2022-05-16 11:50] frenzymadness opened #513 "Build and push action is broken"
Hi @phracek . I was looking for Fedora images on Quay.io when I discovered that the build and push action does not for 2 months here, see https://github.com/sclorg/s2i-python-container/actions/workflows/build-and-push.yml

An interesting part of the log says:
[code]

[2022-05-30 12:05] zmiklank commented on #513
Hi, there are various reasons for the failures. Few of them are already fixed by:
1) https://github.com/sclorg/s2i-python-container/pull/520
2) https://github.com/sclorg/s2i-python-container/pull/509

However, there is still more.

[2022-05-31 08:37] zmiklank commented on #513
@frenzymadness
All build-and-push related bugs are fixed now, only the Fedora with python 3.10 is failing on build of container image:

`Failed loading plugin "needs_restarting": [Errno 40] Too many levels of symbolic links: '/usr/lib64/python3.10/xml/__init__.py'`

[2022-06-01 08:43] frenzymadness commented on #513
I'm gonna try to build the image locally. Thanks for letting me know.

[2022-06-02 09:55] frenzymadness commented on #513
It seems that the build and push action works well again. Thanks for all the fixes!

https://github.com/sclorg/s2i-python-container/actions/runs/2426819587

[2022-06-02 09:55] #513 closed

[2022-07-14 13:38] frenzymadness opened #531 "Build and push failed for Fedora and Python 3.10"
After the last PR, the build and push action failed to build the Python 3.10 container image based on Fedora, see: https://github.com/sclorg/s2i-python-container/runs/7340802416?check_suite_focus=true But the last PR very probably did not caused that because it changed only blank lines in the Dockerfile for Fedora.

Locally, everything works fine, and it's hard to say what has happened in the CI.

[2022-07-27 05:22] frenzymadness commented on #531
The last run succeeded.

[2022-07-27 05:22] #531 closed

[2022-07-27 05:32] #325 closed

[2022-08-03 08:36] phracek opened #536 "Python-27 for RHEL7 reached EOL"
Python-27 for RHEL7 reached EOL.

Please update README.md and dist-gen files accordingly.

[2022-08-03 09:42] frenzymadness commented on #536
Are you sure? I mean, Python 2 is the main Python interpreter in RHEL 7 and the OS itself is supported till 2024 IIRC. I cannot find any info about the python-27 collection tho.

[2022-08-03 09:52] frenzymadness commented on #536
Ah, you are right! I see it now here: https://access.redhat.com/support/policy/updates/rhscl-rhel7

[2022-08-03 10:04] pkubatrh commented on #536
The SCL is EOL, though I am planning to double check that to make sure it is correct. Another question is if we want to move the python 2.7 image to the native python version available in RHEL7.

[2022-08-03 12:35] frenzymadness commented on #536
I wouldn't do that. The native Python 2 version is very old and that'd mean a downgrade in the context of the container image.

[2022-08-05 12:42] pkubatrh commented on #536
Confirmed the SCL is EOL and we can go ahead to deprecate the image.

[2022-08-09 09:19] #536 closed

[2022-08-10 12:57] manthanp1012 commented on #420
The most most important thing to remember while deploying django projects is to add Procfile, requirements.txt and runtime.txt
in project directory.
Procfile --> It should be in correct case with capital 'P'. Add this line 'web: gunicorn myprojectname.wsgi' in the file.
requirements.txt --> run this command in your command prompt inside your project virtual environment  after installing all requir

[2022-08-11 11:16] frenzymadness opened #540 "Drop support and testing for Django 1.1"
In #537, we have removed support for Python 2.7 on EL 7 which means that this test is now useless:

https://github.com/sclorg/s2i-python-container/blob/625f3a614c42202c78d5c8b16cc927a2045b7081/test/run#L232-L239

We can remove it from the sources here but it makes me think about what to do with the django-ex project. If the master branch of django-ex is not used anymore anywhere it might make sens

[2022-08-12 10:12] frenzymadness commented on #420
@manthanp1012 you don't need Procfile and runtime.txt when using S2I container images.

[2022-08-12 10:26] manthanp1012 commented on #420
We need to create Procfile for web processing

[2022-08-13 07:03] frenzymadness commented on #420
If you want to discuss something for S2I Python container, please, open a new issue.

[2022-08-30 06:57] fbm3307 opened #541 "Testing issue created for samples operator"
this issue is created for the testing purpose no action required

[2022-08-30 07:11] fbm3307 commented on #541
Closing this as it was only for workflow testing purpose

[2022-08-30 07:11] #541 closed

[2022-09-12 15:01] michael131468 opened #543 "No visible python-39-c9s images on quay.io"
The README of this project links to a quay.io repository space for CentOS Stream 9 based images:

https://quay.io/repository/sclorg/python-39-c9s

But (at least for me) there seems to be no image tags in this repo to use.

Is this expected?

[2022-09-14 08:47] pkubatrh commented on #543
Hi @michael131468, thanks for spotting this! This is a leftover from before RHEL9 release, when we only had Centos Stream 9 content available. As the Python 3.9 is now available as an UBI image, it no longer makes sense to maintain Centos Stream 9 images, so the repository (and references to it) will be removed.

Just wondering, is there some use case that the UBI images do not cover for you and t

[2022-10-24 10:49] phracek opened #552 "Fedora tests are failing."
Fedora tests, on s2i-python-container, are failing for this reason:

[code]
and RHEL8 3.9-minimal tests are
[code]

The reason is for `pyuwsgi-pipenv-test-app` test_application:

[code]

The RHEL8-3.9-minimal container failed on `micropipenv-requirements-test-app` test failed for this reason:

[code]

[2022-10-27 08:53] frenzymadness commented on #552
Both fixed in #553

[2022-10-27 08:53] #552 closed

[2022-11-23 11:38] shifqu opened #560 "Poetry backed project is not installed"
Hi, thanks for this awesome repository.

Recently within our team, we switched to use poetry.

Now, when using the s2i on our openshift environment (coupled with env var USE_MICROPIPENV=1) the application builds properly, but once the run command is triggered, we receive a `ModuleNotFoundError` stating that the root package is not found.

After some debugging, I noticed that the problem here might

[2022-11-23 13:38] shifqu commented on #560
Hi @frenzymadness , thanks for the fast response.

Indeed, I guess in order to support the pyproject.toml the condition should be that `! -z "$UPGRADE_PIP_TO_LATEST" && -f pyproject.toml`.

So far, I do not have a public project for this. But I suppose I could make a public poetry project. Just not sure how to test the s2i build for it.
Would it be sufficient if I created a public repo that has a

[2022-11-28 08:48] shifqu commented on #560
I have just created a minimal poetry project and made it public.
I added requests as a main dependency and black as a dev dependency.
I didn't use any proxy for the requirements, so this repo should be usable by anyone.

If there is anything else I could add to make the s2i usage more easy, let me know and I will (try to) add to this project.

The project: https://github.com/shifqu/minimal-poetry

[2022-11-30 09:16] frenzymadness commented on #560
Thanks for the example. I'm testing it now. Could you please help me understand what kind of import didn't work for you when the app itself is not installed? When I build a container image with the example project, I see it in the working directory so `import minimal_poetry` should work.

What I've tried is to have these modules in the minimal_poetry package:
a.py with some content:
[code]
b.py wi